:root {
  --primary: #d81e5b;
  --secundary: #8c38ff;
  --dark: #131a26;
  --light: #eeee;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Fira Sans', sans-serif;
}

body {
  background-color: --light;
  padding: 3rem;
}